.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.base-product-form-add {
  width: 70em;
  margin: 25px auto;
}

.base-product-form-add span {
  display: inline-block;
}

.base-product-form-add input,
.base-product-form-add button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.base-product-filter {

}

.base-product-table {
  border-collapse: collapse;
  border: 1px solid lightgray;
  box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, .15);
  width: 70em;
  background-color: #ffffff;
  margin: 25px auto;
}

.base-product-table thead th,
.base-product-table tbody td {
  border: 1px solid lightgray;
}

.base-product-table tbody td input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}